.nav-bar-card {
  text-align: center;
  width: 63vw;
  position: absolute;
  left: 17vw;
  top: 1vh;
}

.nav-bar-title {
  font-weight: bold;
  font-size: 3.5vh;
}

.nav-bar {
  display: inline-block;
}

.nav-bar-link {
  display: inline-block;
}

.nav-bar-item {
  display: inline-block;
}
